/* 전체 페이지 스타일 */
.join-page {
    background-color: black; /* 배경색 */
    color: white; /* 기본 텍스트 색상 */
    padding: 20px;
    height: 100vh; /* 화면 전체 높이 */
    display: flex; /* 좌우로 정렬 */
    flex-direction: row; /* 좌우 배치 */
    justify-content: space-between; /* 좌우로 공간 분배 */
    align-items: center; /* 수직 중앙 정렬 */
}

.developer-text {
    color: #ffffff;
    font-family: "Frank Ruhl Libre";
    font-size: 86px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.white-text {
    font-size: 1.7rem;
    color: white;
    text-align: left;
    margin-left: 20px; /* 왼쪽 정렬 */
    height: 29px;


}

/* 왼쪽 텍스트를 포함하는 컨테이너 */
.left-container {
    flex: 1; /* 왼쪽을 유연하게 차지 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 위쪽에 정렬 */
    align-items: flex-start;
    margin-bottom: 350px; /* 위로 띄우기 위한 여백 추가 */
    padding-left: 58px; /* 왼쪽 여백 추가 */
}

/* 오른쪽 애니메이션이 들어가는 코드 영역 */
.right-container {
    flex: 1; /* 오른쪽을 유연하게 차지 */
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    align-items: center;
    margin-right: 136px; /* 오른쪽 여백 추가 */
}

/* 코드 출력 스타일 */
.code-output {

    color: green; /* 코드 글자색 */
    background: rgba(0, 0, 0, 0.8); /* 어두운 배경 */
    padding: 15px; /* 패딩 추가 */
    border-radius: 5px; /* 둥근 모서리 */
    white-space: pre; /* 코드 포맷 유지 */
    animation: fadeIn 10s; /* 애니메이션 효과 */
    font-size: 2.5rem; /* 글꼴 크기 */
    margin-bottom: 300px;

}

/* 애니메이션 추가 */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
