@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Noto+Sans+KR:wght@400&display=swap');

/* 전체 페이지 스타일 */
.stackup-page {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    font-family: 'Roboto', sans-serif; /* 기본 폰트 */
}

/* 상단 헤더 텍스트 */
.header-text {
    font-size: 2rem;
    margin-bottom: 40px;
    font-weight: bold;
}

/* 콘텐츠 전체를 감싸는 컨테이너 */
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* 이미지와 아이맥 아이콘 */
.image-container {
    position: relative;
    width: 45%;
}
.imac-icon {
    font-size: 15rem; /* 아이콘 크기 */
    color: white; /* 아이콘 색상 */
    position: relative; /* absolute 대신 relative로 위치 변경 */
    z-index: 1; /* z-index 설정으로 가리지 않게 처리 */
}


.imac-image {
    width: 100%;
    height: auto;
}

/* 텍스트 섹션 */
.text-section {
    width: 45%;
}

.hashtags {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: left;
}

.highlight {
    color: #a852ff; /* 강조된 색상 */
}

/* 버튼 */
.stackup-button {
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 30px auto;
    margin-left: 75px;

}

.button-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stackup-logo {
    width: 50px;
    height: 50px;
    padding-right: 10px;

}

.click-text {
    color: #a852ff; /* 클릭 강조 색상 */
    font-weight: 100;
}

/* 텍스트 컨테이너 스타일 */
.text-container {
    color: white;
    font-size: 1.5rem; /* 기존 글자 크기에 맞춰 조정 */
    line-height: 1.5rem; /* 텍스트 간 위아래 간격 설정 */
    text-align: right;
}

/* 기본 텍스트 스타일 */
.text {
    margin-bottom: 15px; /* 텍스트 간 여백 추가 */
    color: white;
    text-align: right;
    padding-right: 30px;
}

/* 강조된 텍스트 스타일 */
.highlight {
    padding-right: 30px;
    color: #a852ff; /* 보라색 강조 */
    font-size: 1.5rem; /* 살짝 더 큰 글자 크기 */
    margin-bottom: 15px; /* 아래 여백 추가 */
}

